body {
    height: 1000px;
}
/* .style-header {
    background-color: #1F2937;
    color:#F9FAF8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 500px;
} */

.header {
    width: 1135px;
    background-color: #1F2937;
    color:#F9FAF8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 500px;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
}

.links,
.text-header { 
    font-size: 18px;
    color: #E5E7EB;
}

.div-img {
    background-color:#7a8491;
    height:230px;
    width: 350px;
}