body {
    height: 100%;
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #1F2937;
    color:#F9FAF8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 1400px;
}

.div-logo {
    display: flex;
    height: 100px;
    align-items: center;
    margin: 0px auto;
    flex: 0.43 1 auto;
    justify-content: space-between;
}

ul {
     flex: 1 1 500px; 
    display: flex;
    align-items: center;
    gap: 80px;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0%;
    padding: 0px;
}

a {
    text-decoration: none; 
}


.div-header {
    flex: 1 1 auto;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    row-gap: 15px;
} 

.container-text {
    flex-basis: 450px;
} 


.header-title {
    font-size: 48px;
    font-weight: 800;
}


.links,
.text-header { 
     font-size: 18px;
    color: #E5E7EB;
    font-weight: 950;
} 

.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: #3882F6 solid;
}

.div-img {
    background-color:#7a8491;
    height:250px;
    flex-basis: 450px;
    align-self: flex-start;
    /* margin-right: auto;
    margin-left: auto; */
}

/*second section of the page*/
/* .section.two {
    background-color:white;
    height: 500px;
    width: 1400px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
    gap: 50px;
}

    .div2-img {

        height: 200px;
        width: 200px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        margin-bottom: 100px;
    }

    .images {
    
        border: 3px solid #930101;
        width: 200px;
        height: 200px;
    }

    .Title.dos {
        width: 1400PX;
        height: 50px;
        text-align: center;
        font-size: 36px;
        color: #1F2937;
        padding-bottom: 0px;
        margin: 60px auto 0px auto; 
    }

    Section three

    .section-three {
        height: 500px;
        flex-basis: 1400px;
        min-width: 0px;
        flex-shrink: 2;
        background-color: #E5E7EB;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
    }

    .grey {
        width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .phrase {
        color: black;
        font-style: italic;
        font-weight: 400;
    }

    p.cita {
        align-self:flex-end;
        padding: 0px;
        padding-left: 785px;
        font-size: 22px;
        font-weight: 800;
        font-style: italic;
    }

    Section four

    .section-four {
        background-color: white;
        width: 1400px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
         font-family:'Roboto', sans-serif;
    }

    .spam-div {
        flex-shrink: 1;
        display: flex;
        background-color: #3882F6;
        border-radius: 10px;
        color: white;
        width: 900px;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .short span {
        font-size: 24px;
        font-weight: 950;
        display: block;
    }

    .short {
        flex-shrink: 2;
        font-weight: 500;
        font-size: 18px;
        min-width: 0px;
    }

    .sign-up.dos {
        border: 1px white solid;
    } */

    